@import '~styles/variables/colors';

.root {
  width: calc(33% - 20px);
  position: relative;
  background: $white;
  box-shadow: 0 10px 30px rgba(19, 23, 31, 0.1);
  border-radius: 24px;
  margin-bottom: 20px;
  padding: 20px 24px 24px;
  margin-right: 20px;
  color: $black;
}

.like {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: $red;
}

.delete {
  position: absolute;
  top: 10px;
  right: 30px;
  cursor: pointer;
  color: $blue;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.nameWrapper {
  padding-right: 30px;
  display: flex;
  align-items: center;
}
