@import '~styles/variables';

.root {
  color: $color-white;
  padding: 20px 0 0 20px;

  h3 {
    font-size: $font-header;
  }

  dl {
    margin-top: 10px;
    font-size: $font-header;
  }

  dd {
    padding-left: 18px;
    margin-bottom: 1em;
  }
}

.emptyResult {
  padding: 20px 0 0 20px;
  font-size: $font-header;
}

.usersList {
  display: flex;
  flex-wrap: wrap;
}

.button {
  background: $color-white;
  padding: 10px;
  color: $color-black;
  margin: 20px 0 0 20px;
}
